framework:
    messenger:
        failure_transport: failed

        transports:
            # Transport pour les emails asynchrones
            async:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    use_notify: true
                    check_delayed_interval: 60000
                retry_strategy:
                    max_retries: 3
                    multiplier: 2
            
            # Transport pour les messages échoués
            failed: 'doctrine://default?queue_name=failed'

        routing:
            # Route tous les emails vers le transport async
            Symfony\Component\Mailer\Messenger\SendEmailMessage: async
