@import "tailwindcss";

@theme {
  --color-primary: #13A4AA;
  --color-secondary: #1A7F83;
  --color-light: #f0f7f4;
  --color-myred: #FF0045;
  --color-myrose: #FF00B6;
}

@import "./layout/aside.css";
@import "./layout/notifications-panel.css";
@import "./teachers.css";
@import "./courses.css";
@import "./students.css";
@import "./rooms.css";

  .button {
    @apply 
      flex justify-center
      cursor-pointer
      rounded-md 
      bg-orange-500 hover:bg-orange-700 
      px-4 py-2 
      font-medium leading-6 
      text-white 
      shadow-sm 
      h-fit 
      transition-all duration-300;
  }

  .button:hover {
    @apply no-underline;
  }
  .button svg {
    @apply mr-2;
  }
  .svg-only svg {
    @apply mr-0;
  }
  .button-small {
    @apply px-2 py-1 text-sm;
  }
  .button-primary {
    @apply bg-gradient-to-r from-myrose to-myred hover:from-myred hover:to-myrose rounded-full ;
  }
  .button-secondary {
    @apply  bg-slate-100 text-black hover:bg-slate-200 rounded-full;
  }
  .button-big {
    @apply px-6 py-3 text-lg;
  }

  .button-highlight {
    @apply px-4 py-2 border border-myrose rounded-lg text-sm font-medium text-myred bg-pink-50 hover:bg-pink-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-myrose transition duration-150 ease-in-out ;
  }

  .arrow-animate {
    animation: arrow-move 1.5s ease-in-out infinite;
  }

  @keyframes arrow-move {
    0%, 100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(5px);
    }
  }

  /* Input générique */
  .input {
    @apply block w-full rounded-md border-0 py-1.5 px-3 text-gray-900  ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-myrose sm:text-sm sm:leading-6;
  }

  .input.error {
    @apply ring-2 ring-red-500 focus:ring-red-500;
  }